@import './var.scss';

.customer {
    .content {
        //   @include grid(repeat(3, 1fr), 30px);
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        text-align: center;

        .card {
            margin-top: $xl-3;
            position: relative;

            button {
                width: 65px;
                height: 65px;
                border-radius: 40px;
                font-size: 20px;

                &:hover {
                    background: $primary;
                    color: $white;
                }
            }

            p {
                font-size: $md;
                line-height: 2;
                margin-top: $xl-3;
            }

            h3 {
                color: $blue;
                font-size: $lg;
                margin: $lg 0;
            }

            span {
                color: $text;
                font-size: $md;
            }
        }
    }
}





@media screen and (max-width: 995px) {
    .customer {
        .content {

            grid-template-columns: repeat(2, 1fr);

        }
    }
}

@media screen and (max-width: 566px) {
    .customer {
        .content {

            grid-template-columns: repeat(1, 1fr);

        }
    }
}