@import './var.scss';


header {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: $md $xl-2;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .toggle {
            display: none;
        }

        .left {
            padding: $sm 0 0 0;

            img {
                width: 100px;
            }
        }

        .menu {
            display: flex;
            padding: 0 0 0 $xl-5;

            li {
                padding: 0 0 0 $xl-5;
                text-transform: uppercase;
                font-size: $md;

                a {
                    color: #000;

                }
            }
            svg{
                display: none;
            }
        }

        .right {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;

            .right__search {
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: $white;
                box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                padding: $md;
                border-radius: 50px;


                input {
                    width: 80% 100%;
                    background: none;
                    border: none;
                    outline: none;
                }
            }

            .right_user {
                display: flex;
                align-items: center;
                gap: 1rem;
            }

            .right_card{
                .showCart{
                    background: $white;
                    position: absolute;
                    right: 5%;
                    top: 14%;
                    // height: 100%;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

                    .detail{
                        .flex{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            flex-direction: column;
                            .details_title{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                margin-bottom: 1.5rem;
                                gap: 5rem;
                            }

                            .details__content{
                                display: flex;
                                align-items: center;
                                justify-content: space-between;
                                gap: 4rem;

                                .details__content-img{
                                    img{
                                        width: 70px;
                                        height: 70px;
                                        border-radius: 50%;
                                    }
                                }
                                .details__content_detail_icon{
                                    svg{
                                        cursor: pointer;
                                        font-size: 1.6rem;
                                        color: #ff4b2e;
                                    }
                                }
                            }
                        }
                    }

                    .empty{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 2rem;
                        padding: .5rem;

                        img {
                            width: 50px;
                            height: 50px;
                          }
                    }
                }
            }

            .button {
                border: none;
                outline: none;
                padding: 1rem;
                border-radius: 50px;
                background-color: $primary;
                color: $white;
                background:  linear-gradient(90deg, #ff4267 40%, #ff4b2e 100%);

            }
        }
    }


}

.hideCart{
    display: none;
}

.active{
    position: sticky;
    top: 0;
    z-index: 9999;
    background: $white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    .container{
        .right{
            .right_card{
                .showCart{
                    background: $white;
                    position: absolute;
                    right: 5%;
                    top: 105%;
                    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                }
                
            }
        }
    }
}

@media (max-width: 1163px) {

    header {
        box-shadow: rgba(0, 0, 0, 0.05) 1.95px 1.95px 2.6px;
        padding: $md .5rem;
    }
}

@media screen and (max-width: 1101px) {

    header {

        .container {
            .toggle {
                display: block;
                margin-right: 5%;

                button svg{
                    font-size: 2rem;
                }
            }
            .menu {
                display: none;           
            }

            .mobile-nav{
                display: block;
                position: absolute;
                left: 0;
                width: 40%;
                height: 100vh;
                background: $white;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
                top: 0;
                padding: $large 0;
                z-index: 9999;

                li {
                    margin-top: $xl;
                    a {
                      color: $dark;
                      margin-bottom: $md;
                      font-size: 1.5rem;
                      text-transform: uppercase;
                    }
                }

                svg{
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    font-size: 2rem;
                    color: $primary
                }
            }
            .right{
                .right__search,
                .right_user{
                    display: none;
                }
            }
        }
    }
}